._0028 {
    display: grid;
    grid-template-rows: repeat(8, min-content);
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0028 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._0028-sect_1 {
    // background-color: #00FFFF;  // Testing
    background-color: #9327D6;  // Inherited by ._0028-sect_1-topnav
    grid-column: full-start / full-end;

    &-topnav {
        /* Add a purple background color to the top navigation */
        // background-color: #9327D6;
        background-color: inherit;  // Takes background colour set on its parent
        // overflow: hidden;  // Hides overflow (required)

        position: relative;  // Used to position responsive dropdowns (required)

        display: flex;
        justify-content: space-between;
        align-items: center;


        &__logo-link {
            // background-color: grey;  // Testing
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
            margin-left: .6rem;  // Creates space on the left
        }

        &__link-box {
            background-color: #00FF00;  // Testing

            flex: 0 0 10%;

            display: flex;
            justify-content: space-evenly;

            // column-gap: 1.2rem;  // Creates space between links
        }

        &__link {
            font-size: 1.6rem;
            color: #F5F5DC;
            display: inline-block;
            text-decoration: none;
        }
    }
}

._0028-sect_2 {
    background-color: #808080;  // Testing
    grid-column: full-start / full-end;
}

._0028-sect_3 {
    background-color: #0000FF;  // Testing
    grid-column: full-start / full-end;
}

._0028-sect_4 {
    background-color: #FFD700;  // Testing
    grid-column: full-start / full-end;
}

._0028-sect_5 {
    background-color: #7E0FC5;
    grid-column: full-start / full-end;
}

._0028-sect_6 {
    background-color: #F1425D;
    grid-column: full-start / full-end;
}

._0028-sect_7 {
    background-color: #F5F5DC;
    grid-column: full-start / full-end;
}

._0028-sect_8 {
    background-color: #333333;
    grid-column: full-start / full-end;
}