$bp-1308: 81.75em;  // 1308px
$bp-1208: 75.5em;  // 1208px
$bp-1051: 65.6875em;  // 1051px
$bp-926: 57.875em;  // 926px

*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
    font-size: 62.5%;  /* Root Font size (1rem = 10px) */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    box-sizing: border-box;  /* Border & Padding included in Width & Height */
}