*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

._0035 {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0035 > * {
  font-size: 2.6rem;
  padding: 0.5rem;
}

._0035-sect_1 {
  background-color: #9327D6;
  grid-column: full-start/full-end;
}
._0035-sect_1-topnav {
  /* Add a purple background color to the top navigation */
  background-color: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* First Responsive Dropdown */
  /* Style the links inside the dropdown */
}
._0035-sect_1-topnav__logo-link {
  font-size: 1.6rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  margin-left: 0.6rem;
}
._0035-sect_1-topnav__link-dot-dropdown-box {
  background-color: grey;
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._0035-sect_1-topnav__link-box {
  background-color: #00FF00;
  flex: 0 0 90%;
}
._0035-sect_1-topnav__link {
  font-size: 1.4rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
}
._0035-sect_1-topnav__link:hover {
  color: #e6e6e6;
}
._0035-sect_1-topnav__link-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #FFFFFF;
}
._0035-sect_1-topnav__link:hover > ._0035-sect_1-topnav__link-icon-1 {
  fill: #f2f2f2;
}
._0035-sect_1-topnav__link-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #FFFFFF;
}
._0035-sect_1-topnav__link:hover > ._0035-sect_1-topnav__link-icon-2 {
  fill: #f2f2f2;
}
._0035-sect_1-topnav__link-dot-dropdown-1 {
  display: inline-block;
}
._0035-sect_1-topnav__link-dot-icon-box-1 {
  cursor: pointer;
  display: none;
}
._0035-sect_1-topnav__link-dot-icon-1 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._0035-sect_1-topnav__link-dot_1-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._0035-sect_1-topnav__link-dot_1-dropdown-content--show {
  display: block;
}
._0035-sect_1-topnav__link-dot_1-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._0035-sect_1-topnav__link-dot_1-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._0035-sect_1-topnav__link-dot_1-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._0035-sect_1-topnav__link-dot_1-link:hover > ._0035-sect_1-topnav__link-dot_1-icon-1 {
  fill: #FFFF00;
}

._0035-sect_2 {
  background-color: #808080;
  grid-column: full-start/full-end;
}

._0035-sect_3 {
  background-color: #0000FF;
  grid-column: full-start/full-end;
}

._0035-sect_4 {
  background-color: #FFD700;
  grid-column: full-start/full-end;
}

._0035-sect_5 {
  background-color: #7E0FC5;
  grid-column: full-start/full-end;
}

._0035-sect_6 {
  background-color: #F1425D;
  grid-column: full-start/full-end;
}

._0035-sect_7 {
  background-color: #F5F5DC;
  grid-column: full-start/full-end;
}

._0035-sect_8 {
  background-color: #333333;
  grid-column: full-start/full-end;
}

/*# sourceMappingURL=styles.css.map */
