._0035 {
    display: grid;
    grid-template-rows: repeat(8, min-content);
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0035 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._0035-sect_1 {
    // background-color: #00FFFF;  // Testing
    background-color: #9327D6;  // Inherited by ._0035-sect_1-topnav (below)
    grid-column: full-start / full-end;

    &-topnav {
        /* Add a purple background color to the top navigation */
        // background-color: #9327D6;
        background-color: inherit;  // Takes background colour set on its parent
        // overflow: hidden;  // Hides overflow (required)

        position: relative;  // Used to position responsive dropdowns (required)

        display: flex;
        justify-content: space-between;
        align-items: center;


        &__logo-link {
            // background-color: grey;  // Testing
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
            margin-left: .6rem;  // Creates space on the left
        }

        &__link-dot-dropdown-box {
            background-color: grey;  // Testing

            flex: 0 0 15%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__link-box {
            background-color: #00FF00;  // Testing

            flex: 0 0 90%;
        }

        &__link {
            font-size: 1.4rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;

            &:hover {
                color: darken(#FFFFFF, 10%);
            }
        }

        &__link-icon-1 {
            width: 1.45rem;
            height: 1.45rem;
            // fill: #000000;
            fill: #FFFFFF;
        }

        &__link:hover > &__link-icon-1 {
            fill: darken(#FFFFFF, 5%);
        } 

        &__link-icon-2 {
            width: 1.45rem;
            height: 1.45rem;
            // fill: #000000;
            fill: #FFFFFF;
        }

        &__link:hover > &__link-icon-2 {
            fill: darken(#FFFFFF, 5%);
        } 

        /* First Responsive Dropdown */
        &__link-dot-dropdown-1 {
            display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
        }

        &__link-dot-icon-box-1 {
            // background-color: #FF0000;  // Testing
            // display: inline-block;
            cursor: pointer;
    
            // display: flex;
    
            display: none;  // Hides dot icon
        }

        &__link-dot-icon-1 {
            width: 2.1rem;
            height: 2.1rem;
            fill: #000000;
        }

        &__link-dot_1-dropdown-content {
            display: none;
            position: absolute;  // Positions content outside dropdown (required)
            top: 100%;  // Places dropdown directly underneath navbar!
            min-width: 14.5rem;
            background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements
        
            /* This class will be added by JavaScript to display the dropdown menu when the 
               user clicks */
            &--show {
                display: block;
            }
        }

        /* Style the links inside the dropdown */
        &__link-dot_1-link {
            font-size: 1.5rem; 
            color: #000000;
            padding: 1.2rem 1.6rem;
            text-decoration: none;
            display: block;  // Testing
            // display: none;  // Hides all dropdown links initially
        
            display: flex;
            justify-content: space-between;
            align-items: center;  // Vertically centres icon & link text

            column-gap: .3rem;  // Creates space between icon & link text
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                color: #EEEEEE;
                background-color: #333333;
            }
        }

        &__link-dot_1-icon-1 {
            width: 1.45rem;
            height: 1.45rem;
            fill: #000000;
        }
    
        &__link-dot_1-link:hover > &__link-dot_1-icon-1 {
            fill: #FFFF00;
        }

        &__link-dot_1-icon-2 {
            width: 1.45rem;
            height: 1.45rem;
            fill: #000000;
        }

        &__link-dot_1-link:hover > &__link-dot_1-icon-2 {
            fill: #FFFF00;
        }

        &__search {
            // background-color: #FFFF00;  // Testing
            font-size: 1.5rem;  // Inherited by button
            position: relative;  // Used to position search bar dropdown

            flex: 0 0 40%;  // Relative to width of Navigation bar

            display: flex;
            justify-content: center;
            align-items: center;

            &-input-dropdown-box {  // Wrapper that holds input box & dropdown box
                // background-color: grey;  // Testing
                transition: all .6s;  // Controls rate at which flex basis changes
    
                flex: 0 0 70%;  // Relative to width of search bar
    
                // flex: 0 0 100%;
            }

            &-input-box {  // Contains input, SVG icon & close icon (x)
                // background-color: #0000FF;  // Testing
                position: relative;  // Used to position close icon (x) & icon button (required)
                font-size: 1.5rem;  // Inherited by input
    
                display: flex;
                align-items: center;  // Vertically centeres icon button & close icon (x)
            }

            &-icon-box {
                background-color: #FFFFFF;  // Makes button look like it's part of input
                display: inline-block;
                // padding: 1.5rem 2rem;
                border: none;  // Removes default button border
                // cursor: pointer;
                cursor: not-allowed;  // Prevents user from clicking button

                display: flex;  // Vertically centres icon

                position: absolute;  // Used to position icon button without creating space on the left
                left: .7rem;
            }

            &-icon {
                width: 2rem;
                height: 2rem;
                fill: #000000;
                // z-index: 5;  // Puts icon on top of input
            }

            &-input {
                // transition: all .6s;
                font-family: inherit; // From global document
                font-size: inherit;  // From parent element
                color: inherit;  // From global document
                border: none;
                border-radius: 0;  // Removes rounded corners
                padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
                background-color: #FFFFFF;
    
                // flex: 0 0 70%;  // Relative to width of search bar
                flex: 0 0 100%;
    
                &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                    color: #948F8F;
                }
    
                &:focus {
                    outline: none;
                    // flex: 0 0 75%;
                }
            }    
        }
    }
}

._0035-sect_2 {
    background-color: #808080;  // Testing
    grid-column: full-start / full-end;
}

._0035-sect_3 {
    background-color: #0000FF;  // Testing
    grid-column: full-start / full-end;
}

._0035-sect_4 {
    background-color: #FFD700;  // Testing
    grid-column: full-start / full-end;
}

._0035-sect_5 {
    background-color: #7E0FC5;
    grid-column: full-start / full-end;
}

._0035-sect_6 {
    background-color: #F1425D;
    grid-column: full-start / full-end;
}

._0035-sect_7 {
    background-color: #F5F5DC;
    grid-column: full-start / full-end;
}

._0035-sect_8 {
    background-color: #333333;
    grid-column: full-start / full-end;
}