._0063 {
    display: grid;
    grid-template-rows: repeat(2, min-content) auto min-content;  // Setting third row to auto makes it occupy all avaliable space (required)
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0063 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._0063-sect_1 {
    background-color: #00FFFF;
    grid-column: full-start / full-end;
}

._0063-sect_2 {
    // background-color: #808080;
    grid-column: full-start / full-end;

    &-profile-container {
        background-color: grey;  // Testing
        width: 90%;
        // width: 45%;  // Testing
        margin: 0 auto;

        display: flex;
        justify-content: center;

        column-gap: 1.2rem;  // Creates space between profile picture & profile credentials
    }

    &-profile-picture-box {
        // background-color: #FFFF00;  // Testing
        background-color: #F2F2F2;
        // width: 60%;  // Controls size of form
        // margin: auto;
        padding: 2rem;
        border-radius: .5rem;
    }

    &-profile-picture {
        background-color: #0000FF;  // Testing
        display: inline-block;  // Makes profile picture only occupy as much space as it needs (required)
    
        &__photo-box {
            // width: 4rem;
            // height: 4rem;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;  // Creates perfect circle
            position: relative;  // Used to position .profile-picture__photo (below)
            overflow: hidden;
    
            margin: 0 auto;  // Centres photo (required)
        }
    
        &__photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  // Fills parent element & preserves aspect ratio
        }
    
        &__photo-box-alt {
            // width: 4rem;
            // height: 4rem;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;  // Creates perfect circle
            position: relative;  // Used to position .profile-picture__photo (belo)
            overflow: hidden;
    
            margin: 0 auto;  // Centres photo (required)
    
            display: none;  // Testing
    
            /* This class will be added by JavaScript to hide the profile picture when 
                user clicks */
            &--hide {
                display: none;
            }
        }
    
        &__photo-alt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  // Fills parent element & preserves aspect ratio
        }
    
        // &__username {
        //     font-size: 1.4rem;
        // }
    }

    &-profile {

        &-info-box {
            background-color: #0000FF;  // Testing
        }

        &-username-button-box {
            background-color: #00FF00;  // Testing

            display: flex;
            justify-content: flex-start;
            align-items: center;

            column-gap: 1.4rem;  // Creates space between username & buttons
        }

        &-username-1 {
            font-size: 1.8rem;
            font-weight: 500;
            display: inline-block;
        }

        &-button-box {
            background-color: #00FF00;  // Testing
        }

        &-button-1 {
            background-color: #000000;
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            // padding: 0 1.2rem;
            // padding: 1.25rem 1.2rem;  // Normal/medium button
            // padding: 1.5rem 1.2rem;  // large button
            padding: .85rem 1.2rem;  // Small button
            min-width: 8rem;
            border: none;  // Removes default button border
            outline: none;  // Removes outline
            cursor: pointer;
    
            // display: flex;
            // justify-content: center;
            // align-items: center;  // Vertically centres dropdown icon & text
    
            // column-gap: .4rem;  // Creates space between icon & text
        }

        &-button-2 {
            background-color: #0E49B5;
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            // padding: 0 1.2rem;
            // padding: 1.25rem 1.2rem;  // Normal/medium button
            // padding: 1.5rem 1.2rem;  // large button
            padding: .85rem 1.2rem;  // Small button
            min-width: 8rem;
            border: none;  // Removes default button border
            outline: none;  // Removes outline
            cursor: pointer;
    
            // display: flex;
            // justify-content: center;
            // align-items: center;  // Vertically centres dropdown icon & text
    
            // column-gap: .4rem;  // Creates space between icon & text
        }

        &-button-3 {
            background-color: #FD1425;
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            // padding: 0 1.2rem;
            // padding: 1.25rem 1.2rem;  // Normal/medium button
            // padding: 1.5rem 1.2rem;  // large button
            padding: .85rem 1.2rem;  // Small button
            min-width: 8rem;
            border: none;  // Removes default button border
            outline: none;  // Removes outline
            cursor: pointer;
    
            // display: flex;
            // justify-content: center;
            // align-items: center;  // Vertically centres dropdown icon & text
    
            // column-gap: .4rem;  // Creates space between icon & text
        }

        &-status-box {
            background-color: grey;  // Testing

            display: grid;
            grid-template-rows: repeat(2, min-content);
            grid-template-columns: repeat(3, 1fr);

            grid-template-areas: 'box-1 box-2 box-3'
                                 'box-4 . .';
        }

        &-posts,
        &-followers-1,
        &-followers-2 {
            font-size: 1.8rem;
            font-weight: 500;
            display: inline-block;
        }

        &-posts {
            grid-area: box-1;
        }

        &-username-box {
            background-color: #FF0000;  // Testing
        }

        &-username-2 {
            font-size: 1.8rem;
            font-weight: 500;
            display: inline-block;
        }

        &-message {
            font-size: 1.8rem;
        }
    }
}

._0063-sect_3 {
    background-color: #F1425D;
    grid-column: full-start / full-end;

    &-card {

        &-box {
            background-color: grey;  // Testing
            width: 90%;
            margin: 0 auto;
        }

        &-text-box {
            background-color: #FF0000;  // Testing
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }

        &-text-1, &-text-2 {
            font-size: 2.1rem;
        }
    }
}

._0063-sect_4 {
    background-color: #333333;
    grid-column: full-start / full-end;
}