._3596 {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._3596 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._3596-sect_1 {
    // background-color: #00FFFF;
    background-color: #9327D6;  // Inherited by ._3596-sect_1-topnav
    grid-column: full-start / full-end;

    &-topnav {
        /* Add a purple background color to the top navigation */
        // background-color: #9327D6;
        background-color: inherit;  // Takes background colour set on its parent
        // overflow: hidden;  // Hides overflow (required)
        padding: .8rem;  // Creates space inside the navbar (optional, but recommended!)

        position: relative;  // Used to position responsive dropdowns (required)

        display: flex;
        justify-content: space-between;
        align-items: center;


        &__logo-link {
            // background-color: grey;  // Testing
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
            margin-left: .6rem;  // Creates space on the left
        }
    }
}

._3596-sect_2 {
    background-color: #FFA500;
    grid-column: full-start / full-end;
}

._3596-sect_3 {
    background-color: #333333;
    grid-column: full-start / full-end;
}