*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

._1859 {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._1859 > * {
  font-size: 2.6rem;
  padding: 0.5rem;
}

._1859-sect_1 {
  background-color: #9327D6;
  grid-column: full-start/full-end;
}
._1859-sect_1-topnav {
  /* Add a purple background color to the top navigation */
  background-color: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* First Responsive Dropdown */
  /* Style the links inside the dropdown */
  /* Clickable dropdown container */
  /* First Dropdown */
  /* Dropdown Content (Hidden by Default) */
  /* Second Dropdown */
  /* Dropdown Content (Hidden by Default) */
  /* Clickable dropdown container */
  /* Dropdown Content (Hidden by Default) */
  /* Second Responsive Dropdown */
  /* Style the links inside the dropdown */
  /* First Responsive Dropdown */
  /* Style the links inside the dropdown */
  /* Third Responsive Dropdown */
  /* Style the links inside the dropdown */
}
._1859-sect_1-topnav__logo-link {
  font-size: 1.6rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  margin-left: 0.6rem;
}
._1859-sect_1-topnav__link-dot-dropdown-box {
  background-color: grey;
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1859-sect_1-topnav__link-box {
  background-color: #00FF00;
  flex: 0 0 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
._1859-sect_1-topnav__link {
  font-size: 1.4rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
._1859-sect_1-topnav__link:hover {
  color: #e6e6e6;
}
._1859-sect_1-topnav__link-icon-1 {
  width: 1.8rem;
  height: 1.8rem;
  fill: #FFFFFF;
}
._1859-sect_1-topnav__link:hover > ._1859-sect_1-topnav__link-icon-1 {
  fill: #f2f2f2;
}
._1859-sect_1-topnav__link-icon-2 {
  width: 1.8rem;
  height: 1.8rem;
  fill: #FFFFFF;
}
._1859-sect_1-topnav__link:hover > ._1859-sect_1-topnav__link-icon-2 {
  fill: #f2f2f2;
}
._1859-sect_1-topnav__link-dot-dropdown-1 {
  display: inline-block;
}
._1859-sect_1-topnav__link-dot-icon-box-1 {
  cursor: pointer;
  display: none;
}
._1859-sect_1-topnav__link-dot-icon-1 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_1-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._1859-sect_1-topnav__link-dot_1-dropdown-content--show {
  display: block;
}
._1859-sect_1-topnav__link-dot_1-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__link-dot_1-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__link-dot_1-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_1-link:hover > ._1859-sect_1-topnav__link-dot_1-icon-1 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_1-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_1-link:hover > ._1859-sect_1-topnav__link-dot_1-icon-2 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__search {
  background-color: #FFFF00;
  font-size: 1.5rem;
  position: relative;
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
._1859-sect_1-topnav__search-input-dropdown-box {
  transition: all 0.6s;
  flex: 0 0 70%;
}
._1859-sect_1-topnav__search-input-box {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
._1859-sect_1-topnav__search-icon-box {
  background-color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: not-allowed;
  display: flex;
  position: absolute;
  left: 0.7rem;
}
._1859-sect_1-topnav__search-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000000;
}
._1859-sect_1-topnav__search-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0.8rem 0.5rem 0.8rem 3.1rem;
  background-color: #FFFFFF;
  flex: 0 0 100%;
}
._1859-sect_1-topnav__search-input::-webkit-input-placeholder {
  color: #948F8F;
}
._1859-sect_1-topnav__search-input:focus {
  outline: none;
}
._1859-sect_1-topnav__search-clear-input {
  transition: right 0.6s;
  position: absolute;
  right: 1%;
  font-size: 2.2rem;
  font-weight: 300;
  color: #BD00AA;
  cursor: pointer;
}
._1859-sect_1-topnav__search-clear-input--hide {
  display: none;
}
._1859-sect_1-topnav__search-input:focus + ._1859-sect_1-topnav__search-clear-input {
  right: 1%;
}
._1859-sect_1-topnav__search-dropdown-content {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 105%;
  min-width: 30.5rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
._1859-sect_1-topnav__search-dropdown-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000000;
  padding: 1.2rem 1.6rem 1.2rem 0.8rem;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__search-dropdown-link:hover {
  background-color: #fafafa;
}
._1859-sect_1-topnav__search-dropdown-link::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -0.6rem;
  background-image: url("../images/SVG/magnifying-glass.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  ._1859-sect_1-topnav__search-dropdown-link::before {
    background-color: #000000;
    -webkit-mask-image: url("../images/SVG/magnifying-glass.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/magnifying-glass.svg");
    mask-size: cover;
    background-image: none;
  }
}
._1859-sect_1-topnav__search-dropdown-no-results {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 105%;
  min-width: 30.5rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  padding: 0.8rem 0;
}
._1859-sect_1-topnav__search-dropdown-no-results-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000;
  display: inline-block;
}
._1859-sect_1-topnav__search-button {
  font-size: inherit;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 1.5rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  align-self: stretch;
}
._1859-sect_1-topnav__dropdown-box-1 {
  flex: 0 0 auto;
}
._1859-sect_1-topnav__dropdown-1 {
  position: relative;
  display: inline-block;
}
._1859-sect_1-topnav__dropdown-btn-1 {
  background-color: #A71198;
  font-size: 1.4rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1.1rem 1.6rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1859-sect_1-topnav__dropdown-btn-1:focus {
  color: #f2f2f2;
}
._1859-sect_1-topnav__dropdown-icon-1 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #FFFFFF;
  margin-right: 0.3rem;
}
._1859-sect_1-topnav__dropdown-icon-2 {
  width: 3rem;
  height: 3rem;
  fill: #FFFFFF;
}
._1859-sect_1-topnav__dropdown-content-1 {
  display: none;
  position: absolute;
  right: 0;
  min-width: 18.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.025rem solid #A9A6A6;
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._1859-sect_1-topnav__dropdown-content-1--show {
  display: block;
}
._1859-sect_1-topnav__dropdown-content-1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -0.7rem;
  border-width: 0.7rem;
  border-style: solid;
  border-color: transparent transparent #F1F1F1 transparent;
}
._1859-sect_1-topnav__dropdown-link-1 {
  font-size: 1.45rem;
  color: #000000;
  padding: 0.65rem 1.5rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__dropdown-link-1:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__dropdown-link-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-1:hover > ._1859-sect_1-topnav__dropdown-link-icon-1 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-1 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-link-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-1:hover > ._1859-sect_1-topnav__dropdown-link-icon-2 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-2 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-2 {
  position: relative;
  display: inline-block;
}
._1859-sect_1-topnav__dropdown-btn-2 {
  background-color: #A71198;
  font-size: 1.4rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1.1rem 1.6rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1859-sect_1-topnav__dropdown-btn-2:focus {
  color: #f2f2f2;
}
._1859-sect_1-topnav__dropdown-icon-3 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #FFFFFF;
  margin-right: 0.3rem;
}
._1859-sect_1-topnav__dropdown-icon-4 {
  width: 3rem;
  height: 3rem;
  fill: #FFFFFF;
}
._1859-sect_1-topnav__dropdown-content-2 {
  display: none;
  position: absolute;
  left: 0;
  min-width: 18.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.025rem solid #A9A6A6;
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._1859-sect_1-topnav__dropdown-content-2--show {
  display: block;
}
._1859-sect_1-topnav__dropdown-content-2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -0.7rem;
  border-width: 0.7rem;
  border-style: solid;
  border-color: transparent transparent #F1F1F1 transparent;
}
._1859-sect_1-topnav__dropdown-link-2 {
  font-size: 1.45rem;
  color: #000000;
  padding: 0.65rem 1.5rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__dropdown-link-2:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__dropdown-link-icon-3 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-2:hover > ._1859-sect_1-topnav__dropdown-link-icon-3 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-icon-4 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-2:hover > ._1859-sect_1-topnav__dropdown-link-icon-4 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-4 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-link-icon-5 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-2:hover > ._1859-sect_1-topnav__dropdown-link-icon-5 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-5 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-3 {
  flex: 0 0 auto;
}
._1859-sect_1-topnav__dropdown-btn-3 {
  background-color: #A71198;
  font-size: 1.4rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1.1rem 1.6rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1859-sect_1-topnav__dropdown-btn-3:focus {
  color: #f2f2f2;
}
._1859-sect_1-topnav__dropdown-icon-5 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #FFFFFF;
  margin-right: 0.3rem;
}
._1859-sect_1-topnav__dropdown-icon-6 {
  width: 3rem;
  height: 3rem;
  fill: #FFFFFF;
}
._1859-sect_1-topnav__dropdown-content-3 {
  display: none;
  position: absolute;
  left: 0;
  min-width: 18.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.025rem solid #A9A6A6;
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._1859-sect_1-topnav__dropdown-content-3--show {
  display: block;
}
._1859-sect_1-topnav__dropdown-content-3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -0.7rem;
  border-width: 0.7rem;
  border-style: solid;
  border-color: transparent transparent #F1F1F1 transparent;
}
._1859-sect_1-topnav__dropdown-link-3 {
  font-size: 1.45rem;
  color: #000000;
  padding: 0.65rem 1.5rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__dropdown-link-3:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__dropdown-link-icon-6 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-6 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-6 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-link-icon-7 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-7 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-7 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-link-icon-8 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-8 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-notification-8 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__dropdown-link-icon-9 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-9 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-icon-10 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-10 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__dropdown-link-icon-11 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__dropdown-link-3:hover > ._1859-sect_1-topnav__dropdown-link-icon-11 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot-dropdown-2 {
  display: inline-block;
}
._1859-sect_1-topnav__link-dot-icon-box-2 {
  cursor: pointer;
  display: none;
}
._1859-sect_1-topnav__link-dot-icon-2 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
      user clicks */
}
._1859-sect_1-topnav__link-dot_2-dropdown-content--show {
  display: block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-1 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-box-1 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-1 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-2 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__link-dot_2-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__link-dot_2-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-1 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-2 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-1 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-icon-3 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-3 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-3 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-3 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-box-2 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-2 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-4 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-icon-4 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-4 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-4 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-icon-5 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-5 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-5 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot-dropdown-3 {
  display: inline-block;
}
._1859-sect_1-topnav__link-dot-icon-box-3 {
  cursor: pointer;
  display: none;
}
._1859-sect_1-topnav__link-dot-icon-3 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
      user clicks */
}
._1859-sect_1-topnav__link-dot_3-dropdown-content--show {
  display: block;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-box-1 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-text-box-1 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-text-1 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-box-2 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_3-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__link-dot_3-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__link-dot_3-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-link:hover > ._1859-sect_1-topnav__link-dot_3-icon-1 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_3-notification-1 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_3-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-link:hover > ._1859-sect_1-topnav__link-dot_3-icon-2 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-3 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-3 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-box-2 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-2 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-4 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-icon-4 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-4 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-4 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-icon-5 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-5 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-5 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot-dropdown-3 {
  display: inline-block;
}
._1859-sect_1-topnav__link-dot-icon-box-3 {
  cursor: pointer;
  display: none;
}
._1859-sect_1-topnav__link-dot-icon-3 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
      user clicks */
}
._1859-sect_1-topnav__link-dot_3-dropdown-content--show {
  display: block;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-box-1 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-text-box-1 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-text-1 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_3-dropdown-content-box-2 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_3-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.3rem;
  /* Add a black background to dropdown links on hover */
}
._1859-sect_1-topnav__link-dot_3-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._1859-sect_1-topnav__link-dot_3-icon-1 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-link:hover > ._1859-sect_1-topnav__link-dot_3-icon-1 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_3-notification-1 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_3-icon-2 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-link:hover > ._1859-sect_1-topnav__link-dot_3-icon-2 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_3-notification-2 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-icon-3 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_3-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-3 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-3 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
._1859-sect_1-topnav__link-dot_2-dropdown-content--show {
  display: block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-3 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-box-2 {
  width: 90%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-text-2 {
  font-size: 1.45rem;
  font-weight: 500;
  display: inline-block;
}
._1859-sect_1-topnav__link-dot_2-dropdown-content-box-4 {
  border-bottom: 0.1rem solid #A9A6A6;
}
._1859-sect_1-topnav__link-dot_2-icon-4 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-4 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-4 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}
._1859-sect_1-topnav__link-dot_2-icon-5 {
  width: 1.45rem;
  height: 1.45rem;
  fill: #000000;
}
._1859-sect_1-topnav__link-dot_2-link:hover > ._1859-sect_1-topnav__link-dot_2-icon-5 {
  fill: #FFFF00;
}
._1859-sect_1-topnav__link-dot_2-notification-5 {
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F1425D;
}

._1859-sect_2 {
  background-color: #808080;
  grid-column: full-start/full-end;
}

._1859-sect_3 {
  background-color: #0000FF;
  grid-column: full-start/full-end;
}

._1859-sect_4 {
  background-color: #FFD700;
  grid-column: full-start/full-end;
}

._1859-sect_5 {
  background-color: #7E0FC5;
  grid-column: full-start/full-end;
}

._1859-sect_6 {
  background-color: #F1425D;
  grid-column: full-start/full-end;
}

._1859-sect_7 {
  background-color: #F5F5DC;
  grid-column: full-start/full-end;
}

._1859-sect_8 {
  background-color: #333333;
  grid-column: full-start/full-end;
}

/*# sourceMappingURL=styles.css.map */
