:root { /* Custom Properties */
  --colour-black-1: #000000;
  --colour-white-1: #FFFFFF;
  --colour-white-2: #E4E4E4;
  --colour-grey-1: #999595;
  --colour-blue-1: #5388EA;
  --colour-blue-2: #0E0E8A;
}

*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--colour-black-1);
}

.card {
  transition: all 0.3s;
  border-radius: 0.5rem;
  border: 0.15rem solid #BBB9B9;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.card:hover {
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}
.card__body {
  padding: 1rem;
}
.card__body--p-2_1 {
  padding: 2.1rem;
}
.card__signup-page-sect_1-text-box-5 {
  text-align: center;
}
.card__signup-page-sect_1-text-5 {
  font-size: 1.35rem;
}
.card__signup-page-sect_1-link-3 {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: var(--colour-blue-1);
}

.form__group {
  margin-bottom: 1.6rem;
  font-size: 1.45rem;
}
.form__group > label {
  font-size: 1.45rem;
}
.form__control {
  width: 100%;
  padding: 1.2rem;
  margin-top: 0.6rem;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.4rem;
  resize: vertical;
  font-size: inherit;
}
.form__control::-webkit-input-placeholder {
  color: #808080;
}
.form__control:focus {
  outline: none;
  box-shadow: 0.2rem -0.2rem 0.48rem 0.15rem #6570EA, -0.2rem 0.2rem 0.48rem 0.15rem #6570EA;
}
.form__small-text {
  font-size: 1.35rem;
}
.form__group > textarea {
  height: 28rem;
}
.form__mb-0 {
  margin-bottom: 0;
}
.form__login-prompt-box {
  margin-top: 0.5rem;
  margin-bottom: 1.6rem;
}
.form__login-prompt {
  font-size: 1.35rem;
}
.form__login-link {
  text-decoration: none;
}
.form__btn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.form__btn:hover {
  color: #DDDDDD;
}
.form__btn--block {
  width: 100%;
  display: block;
}
.form__btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.form__btn--dark:hover {
  color: #f2f2f2;
}
.form__signup-page-sect_1-photo-box-1 {
  width: 60%;
  margin: 0 auto 1.5rem;
}
.form__signup-page-sect_1-photo-1 {
  width: 100%;
  height: auto;
  display: block;
}
.form__signup-page-sect_1-text-box-1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.form__signup-page-sect_1-text-1 {
  font-size: 1.8rem;
  color: var(--colour-grey-1);
}
.form__signup-page-sect_1-btn-1 {
  background-color: var(--colour-blue-1);
  border-radius: 1.2rem;
  padding: 0.9rem 1rem;
  color: var(--colour-white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
}
.form__signup-page-sect_1-photo-box-2 {
  width: 2rem;
}
.form__signup-page-sect_1-photo-2 {
  width: 100%;
  height: auto;
  display: block;
}
.form__signup-page-sect_1-text-box-2 {
  width: 90%;
  margin: 0 auto;
}
.form__signup-page-sect_1-text-2 {
  font-size: 1.35rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1rem;
  align-items: center;
}
.form__signup-page-sect_1-text-2::before, .form__signup-page-sect_1-text-2::after {
  content: "";
  height: 0.1rem;
  display: block;
  background-color: currentColor;
}
.form__signup-page-sect_1-text-box-3 {
  margin: 0 auto;
  text-align: center;
}
.form__signup-page-sect_1-text-3 {
  font-size: 1.3rem;
}
.form__signup-page-sect_1-link-1 {
  display: inline-block;
  text-decoration: none;
  color: var(--colour-grey-1);
}
.form__signup-page-sect_1-text-box-4 {
  text-align: center;
}
.form__signup-page-sect_1-text-4 {
  font-size: 1.3rem;
}
.form__signup-page-sect_1-link-2 {
  display: inline-block;
  text-decoration: none;
  color: var(--colour-grey-1);
}
.form__signup-page-sect_1-btn-2 {
  background-color: var(--colour-blue-1);
  color: #FFFFFF;
}
.form__signup-page-sect_1-btn-2:hover {
  background-color: #3c78e7;
}

.footer {
  background-color: #fcfcfc;
  padding: 3vw 0 5vw 0;
}
.footer__box {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 0.5rem;
}
@media only screen and (max-width: 40em) {
  .footer__box {
    gap: 0.8rem;
  }
}
.footer__box > * {
  transition: all 0.3s;
  border-radius: 0.5rem;
  border: 0.15rem solid #BBB9B9;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}
.footer__box > *:hover {
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}
.footer__signup-page-row--bdr-0 {
  border: none;
}
.footer__signup-page-row--bxsh-0 {
  box-shadow: none;
}
.footer__signup-page-row--bxsh-0:hover {
  box-shadow: none;
}
.footer__link-box {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
@media only screen and (max-width: 40em) {
  .footer__link-box {
    flex-wrap: wrap;
  }
}
.footer__link {
  font-size: 1.3rem;
  color: var(--colour-grey-1);
  padding: 0.3rem;
  display: inline-block;
  text-decoration: none;
}
.footer__signature-box {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.footer__text--1 {
  font-size: 1.3rem;
}
.footer__text--2 {
  font-size: 1.3rem;
}

.signup-page {
  transition: all 0.35s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
}
.signup-page-content {
  display: grid;
  grid-template-rows: min-content auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.signup-page-sect_1 {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 1.2rem;
}
.signup-page-sect_2 {
  justify-self: stretch;
}

.signup-page-sect_1-card-1 {
  width: 34rem;
}
.signup-page-sect_1-signup-form {
  transform: scale(0.85);
}
.signup-page-sect_1-card-2 {
  width: 34rem;
}

/*# sourceMappingURL=styles.css.map */
